.recipecard__{
    &container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // width: 8rem;
        // height: 3rem;
    }
}