$primary-color: #B93010;
$secondary-color: #484848;

.header__{
    &container{
        height: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        cursor: pointer;
        img{
            width: 2.5rem;
        }
    }
    &title{
        color: $primary-color;
        font-weight: bold;
        font-size: 2rem;
        padding: 12px;
        box-sizing: border-box;
        letter-spacing: 2px;
    }
}