$primary-color: #B93010;
$secondary-color: #484848;

.header__{
    &container{
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        cursor: pointer;
        img{
            width: 2.5rem;
        }
    }
    &logo{
        display: flex;
        align-items: center;
    }
    &title{
        color: $primary-color;
        font-weight: bold;
        font-size: 2rem;
        padding: 12px;
        box-sizing: border-box;
        letter-spacing: 2px;
    }
    &nav{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &navlink{
        color: $secondary-color;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 12px;
        box-sizing: border-box;
        letter-spacing: 2px;
        transition: color .2s;
        display: flex;
        align-items: center;
        gap: 4px;
        &:hover{
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 700px) {
    .header__{
        &container{
            img{
                width: 2rem;
            }
        }
        &title{
            font-size: 1.5rem;
        }
        &nav{
            gap: .5rem;
        }
        &navlink{
            font-size: .7rem;
            svg{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 420px) {
    .header__{
        &container{
            img{
                width: 1.5rem;
            }
        }
        &title{
            font-size: .8rem;
        }
        &nav{
            gap: .2rem;
        }
        &navlink{
            padding: 4px;
        }
    }
}